<mat-toolbar color="primary">
  <span>MI APP </span>
  <ng-container *ngIf="!isLogged; else viewAdmin">
    <span class="spacer"></span>
  </ng-container>
  <div>
    <a *ngIf="isLogged" mat-button routerLink="dashboard">Dashboard</a>
    <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="login"
      >Login</a
    >
  </div>
</mat-toolbar>

<ng-template #viewAdmin>
  <button mat-icon-button (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
</ng-template>

<ng-template #viewLogout>
  <a mat-button (click)="logout()"><span translate>logout</span></a>
  <button mat-button [matMenuTriggerFor]="menu">
    <span translate>language</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeLanguaje('en')">
      <span
        *ngIf="current_lang === 'en'"
        class="material-icons done-checked-icon-lang"
      >
        done </span
      >Ingles
    </button>
    <button mat-menu-item (click)="changeLanguaje('es')">
      <span
        *ngIf="current_lang === 'es'"
        class="material-icons done-checked-icon-lang"
      >
        done </span
      >Español
    </button>
  </mat-menu>
</ng-template>
