<form *ngIf="!isLogged" [formGroup]="loginUserform" (submit)="send()">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint
        *ngIf="
          loginUserform.get('email')?.touched &&
          loginUserform.get('email')?.invalid
        "
      >
        email
      </mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
      />
      <mat-icon matSuffix>password</mat-icon>
      <mat-hint
        *ngIf="
          loginUserform.get('password')?.touched &&
          loginUserform.get('password')?.invalid
        "
      >
        password is required
      </mat-hint>
    </mat-form-field>
  </p>
  <button mat-raised-button color="primary" [disabled]="!loginUserform.valid">
    Send
  </button>
</form>
<app-recover [message]="message"></app-recover>
