<app-message></app-message>

<div *ngIf="!isLogged; else viewIsLoggued">
  <router-outlet></router-outlet>
</div>

<ng-template #viewIsLoggued>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <mat-toolbar>
        <span color="primary"> Menu </span>
      </mat-toolbar>
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
